<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
    <testsuite name="settings">
        <directory>settings</directory>
    </testsuite>
    <testsuite name="models">
        <directory>models</directory>
    </testsuite>
    <testsuite name="controller">
        <directory>controllers</directory>
    </testsuite>
    <logging>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>
</phpunit>