/* ============ Reset ============ */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
    margin:0;
    padding:0;
}

img,body,html {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

ol,ul{
    list-style:none;
}

a {
    cursor:pointer;
    color:black;
    text-decoration:none;
}



/* ============ Global ============ */

body {
    color:#333333;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:13px;
    background-color:#f4f8f2;
    width:100%;
    height:100%;
}

.jqimessage  {
    position:relative;
    height:340px;
}

/* popupwindow heading */
.jqimessage h1 {
    font-size:18px;
    padding:5px;
    padding-left:35px;
    margin-bottom:10px;
    
    background-color:#F4F4F4;
    background-repeat:no-repeat;
    background-position:5px 3px;
}

.error {
    color:#ff0000;
}

.found {
    background-color:#FFD100;
}

.jqicontainer .loading {
    background:#F4F4F4 url(images/ajax-loader.gif) 10px 10px no-repeat;
}


/* ============ Global - Page Layout ============ */

div#header{
    position:relative;
}
    
div#wrapper{
    float:left;
    width:100%;
}

div#content{
    margin-left:250px;
}

div#feeds{
    float:left;
    width:250px;
    margin-left:-100%;
}

div#extra {
    clear:left;
    width:100%;
}



/* ============ Header ============ */

div#header {
    color:#fff;
    height:48px;
	margin-bottom:10px;
}

    #header-left {
    	position:absolute;
		left:8px;
		top:0;
        background:url(images/header-left.png);
		height:48px;
		width:46px;
		z-index:1;
	}
	
	#header-right {
        background:url(images/header-right.png);
        height:48px;
        width:37px; 
		position:absolute;
        left:100%;
        top:0;
		margin-left:-46px;
    }
	
	#header-content {
		background:url(images/header-bg.png);
		height:48px;
		margin-left:20px;
		margin-right:20px;
    }
		
    body.ipad #header h1 {
    	top:-1px;
	}
		
    #header h1 {
    	position:absolute;
        margin-left:30px;
		margin-top:0;
		top:0;
        width:203px;
        height:62px;
        background:url(images/header.png) center top no-repeat;
		z-index:200;
    }
    
        body.small #header h1 {
            margin-left:20px;
        }
    
    #header h1 span {
        visibility:hidden;
    }
    
    div#prio {
        position:absolute;
        top:7px;
        left:100%;
        margin-left:-320px;
        width:200px;
        font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
        font-size:12px;
        font-weight:bold;
    }
    
        div#prio label {
            display:block;
            width:100%;
            text-align:center;
            margin-bottom:10px;
        }
    
        #slider {
        	margin-top:-10px;
            height:8px;
            width:100%;
        }
        
            #slider .ui-slider-handle {
            	font-size:14px;
                width:1em;
                height:1em;
            }
        
            body.ipad #slider .ui-slider-handle {
                margin-top:-5px;
                width:25px;
                height:25px;
            }
    
    
    #menue-button {
        display:block;
        position:absolute;
        left:100%;
        top:8px;
        margin-left:-80px;
        background:url(images/icons.png) 0px -200px no-repeat;
        width:32px;
        height:32px;
    }

        #menue-button span {
            visibility:hidden;
        }

    #menue {
        display:none;
        position:absolute;
        left:100%;
        margin-left:-180px;
        top:45px;
        width:170px;
        z-index:100;
    }
    
        #menue li {
            padding:6px;
            border-bottom:1px solid #ddd;
            cursor:pointer;
        }
        
        #menue li.last {
            border-bottom:0;
        }
        
        #menue li:hover, 
        #menue li:hover a {
            background:#2e2e2e;
            color:#fff;
        }
        
        #menue li a {
            display:block;
            width:100%;
            height:20px;
            cursor:pointer;
        }



/* ============ Login ============ */

#login {
    position:absolute;
    left:50%;
    top:15%;
    width:500px;
    height:300px;
    margin-left:-250px;
    font-size:14px;
    background:url(images/header-bg.png) repeat-x;
    border:1px solid #ccc;
    
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

    #login h1 {
        width:100%;
        height:68px;
        background:url(images/header.png) center 0px no-repeat;
    }
    
        #login h1 span {
            visibility:hidden;
        }

    #login h2 {
        margin:20px;
    }

    #login li {
        margin:5px;
        margin-left:20px;
    }

    #login label {
        display:inline-block;
        width:200px;
    }
    
    #login input {
        margin:0;
        font-size:20px;
        width:240px;
        color:#DF7800;
    }
    
    #login a {
        font-size:11px;
        color:#DF7800;
    }
    
    #login .success {
        color:#3C9600;
    }




/* ============ Calendar Filter ============ */

#calendar {
    display:none;
    height:150px;
}

#calendar .datepicker {
    margin-left:10px;
    color:#2e2e2e;
}

    #calendar .datepickerBorderT,
    #calendar .datepickerBorderB,
    #calendar .datepickerBorderL,
    #calendar .datepickerBorderR,
    #calendar .datepickerBorderTL,
    #calendar .datepickerBorderTR,
    #calendar .datepickerBorderBL,
    #calendar .datepickerBorderBR {
        background:none;
    }
    
    #calendar .datepickerMonth {
        font-weight:bold;
    }
    
    #calendar .datepicker a,
    #calendar .datepicker a:hover {
        color: #2e2e2e;
    }
    
    #calendar .datepickerContainer {
        background:none;
    }
    
    #calendar .datepickerNotInMonth a {
        color: #999;
    
    }
    
    #calendar .datepickerDays td.datepickerSelected{
        background: #F7B54A;
    }
    
    #calendar .datepickerDays td.datepickerNotInMonth.datepickerSelected {
        background: #FFE6BF;
    }
    
    #calendar .datepickerYears td.datepickerSelected,
    #calendar .datepickerMonths td.datepickerSelected{
        background: #17384d;
    }
    
    #calendar .datepicker td.datepickerNotInMonth a:hover {
        color: #999;
    }
    
    #calendar .datepickerDisabled a,
    #calendar .datepickerDisabled.datepickerNotInMonth a{
        color: #999;
    }
    
    #calendar .datepickerDisabled a:hover {
        color: #333;
    }
    
    #calendar .datepickerSpecial a {
        background: #700;
    }
    
    #calendar .datepickerSpecial.datepickerSelected a {
        background: #a00;
    }

    
    
/* ========= Add show hide feeds ========= */

#feedsmenue {
    position:relative;
    margin-bottom:0;
    margin-top:6px;
    height:20px;
}

#feedsmenue li {
    margin-bottom:0;
}

    #feedsmenue .date,
    #feedsmenue .show,
    #feedsmenue .hide {
        position:absolute;
        top:0;
        left:100%;
        height:16px;
        width:16px;
        margin-top:0px;
        background-repeat:no-repeat;
        background-position:center center;
    }

    #feedsmenue .date span,
    #feedsmenue .show span,
    #feedsmenue .hide span {
        display:none;
    }
    
    #feedsmenue .add {
        display:block;
        border:2px solid #cccccc;
        border-bottom:0;
        width:130px;
        margin-left:20px;
        background:url(images/icons.png) 1px -119px no-repeat;
        padding:2px;
        padding-top:0;
        padding-left:35px;
        
        border-top-right-radius:4px;
        border-top-left-radius:4px;
        -moz-border-radius-topleft:4px;
        -moz-border-radius-topright:4px;
        -webkit-border-top-right-radius:4px;
        -webkit-border-top-left-radius:4px;
    }
    
        #feedsmenue .add:hover {
            background-color:#F6AF3A;
            color:white;
        }
    
    #feedsmenue .date{
        margin-left:-46px;
        background:url(images/icons.png) -10px -360px no-repeat;
    }
    
    #feedsmenue .date.active {
        background-color:#2e2e2e;
        border-radius:4px;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
    }
    
    #feedsmenue .show {
        margin-left:-30px;
        background:url(images/icons.png) -7px -65px no-repeat;
    }
    
    #feedsmenue .hide {
        margin-left:-16px;
        background:url(images/icons.png) -7px -7px no-repeat;
    }


/* ============ Feed List ============ */

#feeds-list,
#progress,
#calendar {
    border:2px solid #2e2e2e;
    padding:3px;
    padding-top:1px;
    margin-left:15px;
    margin-bottom:10px;

    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

    #feeds-list li {
        border-bottom:1px solid #DDDDDD;
    }

        /* big category buttons */
        #feeds-list h3 {
            position:relative;
            cursor:pointer;
            font-size:12px;
            font-weight:normal;
            color:black;
            
            padding:11px;
            padding-left:35px;
            margin-top:2px;
            margin-bottom:2px;
            
            border-radius: 4px;
            -o-border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            
            background-image:url(images/icons.png);
            background-position:0px -506px;
            background-repeat:no-repeat;
        }
        
            #feeds-list h3.active,
            #feeds-list h3:hover {
                color:white;
                background-color:#2e2e2e;
            }
            
            #feeds-list h3.starred {
                background-image:url(images/icons.png);
                background-position:0px -290px;
            }
            
            #feeds-list h3.all {
                background-image:url(images/icons.png);
                background-position:0px -415px;
            }
            
            #feeds-list h3.dropphover {
                background-color:#ccc;
            }
            
            #feeds-list h3.unread {
                font-weight:bold;
            }
            
                #feeds-list h3 a { /* dropdown on categories */
                    position:absolute;
                    display:none;
                    background:url(images/icons.png) -11px -832px no-repeat;
                    width:17px;
                    height:16px;
                    left:100%;
                    top:12px;
                    margin-left:-30px;
                }
            
                    #feeds-list h3 a span {
                        visibility:hidden;
                    }
                    
                    #feeds-list h3 a.up {
                        background:url(images/icons.png) -10px -806px no-repeat;
                    }
                    
                #feeds-list h3 span.items {
                    font-size:10px;
                    color:#ccc;
                    vertical-align:sub;
                }
        
        /* sublist with feeds */
        #feeds-list ul {
            display:none;
        }
        
        #feeds-list ul  li {
            display:block;
            border:0;
            margin-left:20px;
            margin-bottom:3px;
            padding:6px;
            clear:both;
        }
        
            #feeds-list ul  li.unread {
                font-weight:bold;
            }

            #feeds-list ul li.active,
            #feeds-list ul li:hover {
                background:#ccc;
                border-radius: 4px;
                -o-border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
            }
            
            #feeds-list ul  li .feed-img {
                float:left;
            }
            
                #feeds-list ul  li img {
                    display:block;
                    float:left;
                    width:16px;
                    height:16px;
                    margin-right:10px;
                }
                
                #feeds-list ul  li a {
                    display:block;
                    color:black;
                    text-decoration:none;
                    font-size:11px;
                    margin-left:10px;
                }
                
                #feeds-list ul  li.error a {
                    color:#ff0000;
                }
                
                #feeds-list ul li .prio  {
                    position:absolute;
                    left:228px;
                    margin-top:-13px;
                    color:#999;
                    font-weight:normal;
                    font-size:11px;
                }
                
                #feeds-list ul li a.edit  {
                    position:absolute;
                    display:none;
                    height:16px;
                    width:16px;
                    background:url(images/icons.png) -10px -240px no-repeat;
                    left:215px;
                    margin-top:-15px;
                }
                
                    #feeds-list ul li a.edit span {
                        visibility:hidden;
                    }
                
        
        /* search */
        #feeds-list .search {
            position:relative;
            margin-top:5px;
            background-color:#2e2e2e;
            padding:5px;
            padding-left:15px;
            border-radius: 5px;
            -o-border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
            
            #feeds-list .search  input {
                width:190px;
            }
            
            #feeds-list .search  a {
                display:block;
                width:16px;
                height:16px;
                background:url(images/icons.png) -10px -456px no-repeat;
                position:absolute;
                top:6px;
                left:100%;
                margin-left:-40px;
            }
            
            #feeds-list .search  a span {
                visibility:hidden;
            }
    
    /* statistics */
    #stats {
        text-align:right;
        color:#999999;
        font-size:11px;
        margin-top:5px;
    }
    
        #stats span {
            display:inline-block;
            width:50px;
        }

            
/* ============ Search ============ */

div.search {
    display:none;
    color:#EFAD3B;
    width:100%;
    text-align:center;
    margin-left:20px;
}

div.search a {
    background:url(images/icons.png) -10px -778px no-repeat;
    width:15px;
    height:15px;
}

    div.search a span {
        visibility:hidden;
    }
        
/* ============ Progressbar ============ */

#progress {
    border:0;
    display:none;
}

    #progress-feed {
        color:#999;
        text-align:center;
        margin-bottom:6px;
        font-size:11px;
    }
    
        #progress-feed span {
            display:none;
        }

    #progressbar {
        height:10px;
    }
        
        
/* ============ Filter and View Options ============ */

#content {
    padding:10px;
    padding-top:6px;
	padding-right:17px;
}

#filter {
    position:relative;
    height:30px;
}

    #filter .ui-selectmenu, .ui-selectmenu-menu {
        color:#333;
        font-size:11px;
        z-index:3;
    }
    
    #filter #actions {
        margin-left:10px;
    }
    
    body.small #filter #actions {
        margin-top:-53px;
        margin-left:15px;
    }
    
    #filter #actions, 
    #filter #actions li, 
    #filter select, 
    #filter .ui-selectmenu-popup {
        float:left;
        margin-right:5px;
    }
    
    #filter select, 
    #filter .ui-selectmenu-popup {
        background:#efefef;
    }
    
        #filter .ui-selectmenu-popup:hover {
            background: #fdf5ce;
        }
    
    #filter #filter-options {
        position:absolute;
        left:100%;
        margin-left:-480px;
        width:480px;
        
    }
    
    #filter #actions input {
        border: 1px solid #ccc; 
        font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; 
        font-size: 1em;
        cursor:pointer;
        color:#333;
        background:#efefef;
        border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding:5px;
        padding-top:2px;
        padding-bottom:2px;
    }
    
        * + html #filter #actions input {
            padding:0;
            width:160px;
        }
    
        #filter #actions input:hover {
            border-color:#fbcb09;
            background: #fdf5ce;
        }

/* ============ No Items ============ */

#noentries {
    border:2px solid #BFBFBF;
    padding:10px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align:center;
}



/* ============ Items ============ */

#items {
    clear:both;
    z-index:50;
}

#images div.loading,
#messages > li.loading {
    background:#eee url(images/ajax-loader.gif) center center no-repeat!important;
}

    .loading  span {
        visibility:hidden;
    }

#images div.more span,
#messages > li.more span {
    border:0;
}



/* ============ Image Items ============ */

#images {
    position:relative;
    border:2px solid #BFBFBF;
    padding:10px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow:hidden;
}

    #images.small {
        height:189px;
    }

    #images.top {
        padding-top:5px;
        margin-bottom:0;
        border-bottom:0;
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
        -moz-border-radius-bottomleft:0;
        -moz-border-radius-bottomright:0;
        -webkit-border-bottom-right-radius:0;
        -webkit-border-bottom-left-radius:0;
    }

    #images div {
        display:block;
        float:left;
        width:200px;
        height:190px;
        margin-right:20px;
        margin-bottom:13px;
    }
    
    #images div img {
        border:5px solid #f4f8f2;
    }
    
    #images div.selected img {
        border:5px solid #f6a828;
    }
    
    #images div.selected.marking img {
        border:0;
    }
    
    #images .images-feed {
        display:block;
        color:#999;
        margin-top:3px;
    }
    
    #images a {
        font-size:11px;
    }
    
    #images a.images-imagelink {
        display:block;
        height:160px;
        text-align:left;
    }
    
    #images div a.starr-image {
        background:url(images/icons.png) -10px -713px no-repeat;
        width:16px;
        height:16px;
        float:left;
        margin-right:5px;
    }
    
        #images div a span {
            visibility:hidden;
        }
        
        #images div a span.found {
            visibility:visible;
        }
        
        #images div a.active {
            background:url(images/icons.png) -10px -745px no-repeat;
        }

    #images div a.mark-image {
        background:url(images/icons.png) -9px -652px no-repeat;
        width:16px;
        height:16px;
        float:left;
        margin-right:5px;
    }
    
        #images div a.mark-image.active {
            background:url(images/icons.png) -9px -682px no-repeat;
        }
        
    #images hr {
        clear:both;
        visibility:hidden;
        padding:0;
        margin:0;
    }    
    
    #images div.more {
        cursor:pointer;
        background:#eee;
        text-align:center;
        font-weight:bold;
        width:99%;
        height:auto;
        padding:5px;
        margin:0;
    }
    
    
/* ============ Messages ============ */

#messages {
    border:2px solid #BFBFBF;
    padding:0px;
    margin-bottom:10px;
    border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

    #messages > li {
        padding:6px;
        border-bottom:1px solid #ccc;
    }
    
        #messages > li.unread {
            background-color:#FFFBCF;
        }
        
        #messages > li.unread h2 {
            font-weight:bold;
        }
        
        #messages > li.more {
            cursor:pointer;
            background:#eee;
            text-align:center;
            font-weight:bold;
        }

        #messages > li.selected {
            padding:4px;
            padding-bottom:5px;
            border:2px solid #f6a828;
        }
        
        #messages > li.selected.marking {
            border:0;
        }
        
        #messages > li .link span{
            color:#999;
        }
    
    #messages .icon-message {
        display:block;
        width:16px;
        height:16px;
        float:left;
        margin-right:3px;
    }
    
    #messages .starr-message,
    #messages .mark-message {
        display:block;
        width:16px;
        height:16px;
        background:url(images/icons.png) -10px -713px no-repeat;
        float:left;
        margin-right:3px;
    }
    
        #messages .rateup-message span,
        #messages .ratedown-message span,
        #messages .starr-message span,
        #messages .mark-message span {
            display:none;
        }
        
        #messages .starr-message.active {
            background:url(images/icons.png) -10px -745px no-repeat;
        }
        
        #messages .mark-message {
            background:url(images/icons.png) -9px -652px no-repeat;
        }
    
        #messages .mark-message.active {
            background:url(images/icons.png) -9px -682px no-repeat;
        }
        
    
    #messages li {
        position:relative;
        padding-right:40px;
    }
    
    #messages li > span {
        display:inline-block;
        padding-right:5px;
        padding-left:5px;
        border-right:1px solid #ccc;
        border-left:1px solid #ccc;
    }
    
    #messages span.found {
        display:inline;
        padding:0;
        border:0;
    }
    
    #messages li > h2 {
        display:inline;
        font-size:1em;
        cursor:pointer;
        font-weight:normal;
    }

    #messages li > img {
        width:16px;
        height:16px;
    }
    
    #messages > li > a {
        font-size:0.8em;
    }
    
    #messages span.date {
        position:absolute;
        border:0;
        color:#999;
        left:100%;
        top:7px;
        margin-left:-65px;
    }
    
        #messages > li.selected span.date {
            top:5px;
            margin-left:-63px;
        }
        
    #messages .content {
        padding:10px;
    }
    
        #messages .content.closed {
            display:none;
        }

        #messages .content li {
            list-style:disc;
            margin-left:20px;
        }
        
        #messages .content li,
        #messages .content p {
            margin-bottom:10px;
        }
    
        #messages .content a {
            color:#CF8300;
        }
    
    
/* ============ Add Feed ============ */

.jqimessage h1.feed-add {
    background-image:url(images/icons.png);
    background-position:0px -142px;
    background-repeat:no-repeat;
}

#feed-source {
    width:200px;
    float:left;
}

    #feed-source li {
        padding:3px;
        border-bottom:1px solid #ccc;
        cursor:pointer;
        border-radius: 2px;
        -o-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }
    
    #feed-source li.active {
        background:#ccc;
    }
    
    #feed-source li.last {
        border:0;
    }

    #feed-source span {
        display:none;
    }
    
    #feed-source img {
        width:16px;
        height:16px;
    }

    #feed-source h3 {
        border:0;
        border-radius: 0px;
        -o-border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        padding:5px;
        color:white;
        background:#2e2e2e;
        cursor:pointer;
        margin-top:2px;
        margin-bottom:2px;
    }
    
        #feed-source h3 span {
            visibility:hidden;
        }

    #feed-source ul{
        border:0;
        background:none;
        padding:5px;
    }

    


#feed-data {
    position:absolute;
    left:220px;
    height:300px;
    width:470px;
    padding:0;
    margin:0;
    padding-left:5px;
    border-left:1px solid #ccc;
    font-size:14px;
}

    #feed-data li {
        padding:5px;
        clear:both;
    }

        #feed-data li label {
            display:block;
            float:left;
            font-size:18px;
            font-weight:normal;
            width:150px;
        }
        
        #feed-data li input,
        #feed-data li select {
            height:25px;
            font-size:18px;
            width:300px;
            border:1px solid #2e2e2e;
        }
        
        #feed-data img {
        width:16px;
        height:16px;
    }
        
        #feed-data li #priority {
            width:30px;
            float:left;
        }
        
        #feed-data li .prio-add,
        #feed-data li .prio-sub {
            display:block;
            float:left;
            cursor:pointer;
            background:url(images/icons.png) -8px -119px no-repeat;
            width:16px;
            height:16px;
            margin-top:5px;
        }
        
        #feed-data li .prio-sub {
            background:url(images/icons.png) -9px -585px no-repeat;
        }
        
        #feed-data li .error {
            display:block;
            margin-left:155px;
            font-size:11px;
            font-weight:normal;
        }
        
        #feed-data li.description {
            padding-right:35px;
        }
        
        
        
/* ============ Edit Categories ============ */

.jqimessage h1.categories-edit {
    background-image:url(images/icons.png);
    background-position:0px -263px;
    background-repeat:no-repeat;
}

#categories-list {
    overflow:auto;
    height:290px;
    margin:10px;
    font-size:14px;
}

    #categories-list li {
        padding:5px;
        cursor:move;
    }
    
    #categories-list span {
        display:inline-block;
        width:200px;
    }
    
    #categories-list span.error {
        width:350px;
    }
    
    #categories-list li input {
        width:200px;
    }

    #categories-list .edit {
        margin-left:30px;
    }
    
    #categories-list .error {
        font-weight:normal;
        font-size:11px;
    }
    
    #categories-list .accept,
    #categories-list .edit,
    #categories-list .delete {
        display:inline-block;
        height:16px;
        width:16px;
        background:url(images/icons.png) -9px -238px no-repeat;
    }

        #categories-list .accept span,
        #categories-list .edit span,
        #categories-list .delete span {
            visibility:hidden;
        }
        
    #categories-list .accept {
        background:url(images/icons.png) -7px -333px no-repeat;
    }
    
    #categories-list .delete {
        background:url(images/icons.png) -9px -488px no-repeat;
    }

    #categories-list .add {
        padding:0;
        margin:0;
        margin-top:10px;
        cursor:pointer;
        padding-left:20px;
        background:url(images/icons.png) -7px -118px no-repeat;
    }
    
    
    
    
/* ============ Settings ============ */

.jqimessage h1.settings {
    background-image:url(images/icons.png);
    background-position:0 -172px;
    background-repeat:no-repeat;
}

#settings-nav {
    position:absolute;
    left:660px;
    top:320px;
    width:40px;
    display:none;
}

    #settings-nav  .settings-nav-up,
    #settings-nav  .settings-nav-down {
        cursor:pointer;
        display:block;
        width:20px;
        height:24px;
    }
    
    #settings-nav  .settings-nav-up {
        background:url(images/icons.png) -9px -32px no-repeat;
        display:none;
    }
    
    #settings-nav .settings-nav-down {
        background:url(images/icons.png) -9px -89px no-repeat;
    }

#settings-data {
    height:300px;
    overflow:auto;
}

    #settings-data li {
        padding:5px;
    }

    #settings-data li label {
        display:inline-block;
        width:300px;
    }
    
    #settings-data li input,
    #settings-data li select {
        width:200px;
        border:1px solid #2e2e2e;
    }
    
    #settings-data li input[type=checkbox]  {
        width:20px;
        border:0;
        height:20px;
    }

    #settings-data li .error {
        display:block;
        margin-left:305px;
    }
    
    #settings-data li.bookmark {
        margin-top:10px;
        border-top:1px solid #cccccc;
    }
    
        #settings-data li.bookmark a {
            display:block;
            background:#cccccc;
            margin:10px;
            border-radius: 4px;
            -o-border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            width:200px;
            padding:2px;
            cursor:move;
        }
    
    
/* ============ Errormessages ============ */

.jqimessage h1.errormessages {
    background-image:url(images/icons.png);
    background-position:0 -612px;
    background-repeat:no-repeat;
}

#errormessages {
    overflow:auto;
    height:300px;
}

    #errormessages li ul li {
        float:left;
        margin-right:10px;
    }

    #errormessages > li {
        clear:left;
    }

    #errormessages .feed {
        width:100px;
    }
    
    #errormessages .message {
        clear:left;
        margin-left:20px;
        color:#999;
    }


/* ============ About ============ */

.jqimessage h1.about {
    background-image:url(images/icons.png);
    background-position:0 -543px;
    background-repeat:no-repeat;
}

#about {
    overflow:auto;
    height:300px;
    background:url(images/logo.png) 500px -10px no-repeat;
}

    #about li {
        margin-left:10px;
    }

    #about h2 {
        margin-top:10px;
        margin-bottom:10px;
    }
    
/* ============ Footer ============ */

#footer {
    margin:20px;
    margin-top:10px;
    text-align:right;
}

#footer,
#footer a {
    color:#999999;
    font-size:11px;
}


/* ====== Internet Explorer Error Page ======= */

#ie {
    position:absolute;
    width:600px;
    left:50%;
    margin-left:-300px;
    margin-top:20px;
    color:#ff0000;
    font-size:1.4em;
}

    #ie ul {
        margin-top:30px;
        margin-left:20px;
    }
    
    #ie li {
        text-align:center;
        float:left;
        width:130px;
    }
    
    
/* ====== Exception Error Page ======= */

#error {
    margin-left:20px;
}

    #error h1,
    #error h2,
    #error h3 {
        margin-top:15px;
    }